# Common environment variables
DATABASE_URL="postgresql://postgres:password@localhost:5432/hetic?schema=public"

APP_ROOT=http://localhost:3000/
API_VERSION=1

ETHERSCAN_BASE_URL=https://api.etherscan.io/api
ETHERSCAN_API_RESPONSE_LENGTH_LIMIT=10000

CORS_ORIGIN=http://localhost:3001/
CORS_METHODS=GET,POST,PUT,DELETE

EMAIL_USER="cbdma.app@gmail.com"

# Secret keys
ETHERSCAN_API_KEY=
CRYPTOCOMPARE_API_KEY=
JWT_SECRET_KEY=
EMAIL_PASS=