DATABASE_URL=postgresql://postgres:password@localhost:5432/hetic?schema=public

CORS_ORIGIN=
CORS_METHODS=

ETHERSCAN_API_KEY=
ETHERSCAN_BASE_URL=https://api.etherscan.io/api
ETHERSCAN_API_RESPONSE_LENGTH_LIMIT=10000

CRYPTOCOMPARE_API_KEY=

JWT_SECRET_KEY=

EMAIL_USER="cbdma.app@gmail.com"
EMAIL_PASS=

NODE_ENV=
APP_ROOT=http://localhost:3000
